@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  font-family: Inter, sans-serif;
  background-color: #090b1a;
  color: white;
  margin: 0;
  padding: 2em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #1b1938;
  border-radius: .7em;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }
}

.hero__picture img {
  width: 100%;
  height: 100%;
}

.hero__main {
  padding: 1em 1.8em;
  flex-basis: 50%;
}

@media (min-width: 768px) {
  .hero__main {
    padding: 3em;
  }
}

.hero__heading {
  font-family: 'Lexend Deca';
  font-size: x-large;
}

.hero__heading span {
  color: #aa5cdb;
}

@media (min-width: 768px) {
  .hero__heading {
    font-size: xx-large;
  }
}

.hero__info {
  font-size: small;
  line-height: 1.8em;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .hero__info {
    font-size: medium;
  }
}

.hero__facts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .hero__facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.fact {
  font-size: small;
  line-height: 1.8em;
  color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 768px) {
  .fact {
    font-size: xx-small;
  }
}

.bold {
  color: white;
  font-size: x-large;
  font-weight: bold;
}
